<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seig.qlj.shopping.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="seig.qlj.shopping.pojo.Category">
            <id property="category_id" column="category_id" jdbcType="INTEGER"/>
            <result property="category_name" column="category_name" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name
    </sql>
</mapper>
