<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seig.qlj.shopping.mapper.ShoppingCartMapper">

    <resultMap id="BaseResultMap" type="seig.qlj.shopping.pojo.ShoppingCart">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="product_id" column="product_id" jdbcType="INTEGER"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,product_id,
        num
    </sql>
</mapper>
